<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>I’m a full-stack developer with over 10 years of IT infrastructure experience and a passion for building scalable applications. After several years teaching in Japan, I transitioned into software development and completed the Le Wagon bootcamp in Tokyo. I’m now focused on developing projects that combine my love for technology, fitness, and entrepreneurship—like my goal of creating a calisthenics training app.</p>
      </div>
    </div>
  </div>
</div>
